In [21]:
import pandas as pd
import numpy as np

In [22]:
train_data = pd.read_csv('Train.csv')
test_data = pd.read_csv('Test.csv')

In [23]:
train_data.drop(['Most Loved Competitor network in in Month 1', 'Most Loved Competitor network in in Month 2', 'Customer ID'], axis = 1, inplace = True)

In [24]:
train_data.head()

,network_age,Customer tenure in month,Total Spend in Months 1 and 2 of 2017,Total SMS Spend,Total Data Spend,Total Data Consumption,Total Unique Calls,Total Onnet spend,Total Offnet spend,Total Call centre complaint calls,Network type subscription in Month 1,Network type subscription in Month 2,Churn Status
0,123.0,4.10,76.7140,0.00,1.25,1.4951,14.0,564.0,6408.0,2.0,2G,2G,0.0
1,1316.0,43.87,98.8904,4.14,1.25,1.0244,27.0,1626.0,4373.0,1.0,2G,2G,0.0
2,2385.0,79.50,372.6300,3.51,1.25,6.0898,119.0,10411.0,22039.0,1.0,2G,2G,0.0
3,1614.0,53.80,530.2000,6.85,1.25,3.3447,69.0,6822.0,6274.0,1.0,2G,2G,0.0
4,2175.0,72.50,554.1300,6.99,153.75,673204.0342,33.0,3387.0,7241.0,1.0,2G,3G,0.0

In [25]:
train_data.isnull().sum()

network_age                                1
Customer tenure in month                   1
Total Spend in Months 1 and 2 of 2017      1
Total SMS Spend                            1
Total Data Spend                           1
Total Data Consumption                     1
Total Unique Calls                         1
Total Onnet spend                          1
Total Offnet spend                         1
Total Call centre complaint calls          1
Network type subscription in Month 1     176
Network type subscription in Month 2     145
Churn Status                               1
dtype: int64

In [26]:
train_data = pd.get_dummies(train_data)
train_data.head()

,network_age,Customer tenure in month,Total Spend in Months 1 and 2 of 2017,Total SMS Spend,Total Data Spend,Total Data Consumption,Total Unique Calls,Total Onnet spend,Total Offnet spend,Total Call centre complaint calls,Churn Status,Network type subscription in Month 1_2G,Network type subscription in Month 1_3G,Network type subscription in Month 1_Other,Network type subscription in Month 2_2G,Network type subscription in Month 2_3G,Network type subscription in Month 2_Other
0,123.0,4.10,76.7140,0.00,1.25,1.4951,14.0,564.0,6408.0,2.0,0.0,1,0,0,1,0,0
1,1316.0,43.87,98.8904,4.14,1.25,1.0244,27.0,1626.0,4373.0,1.0,0.0,1,0,0,1,0,0
2,2385.0,79.50,372.6300,3.51,1.25,6.0898,119.0,10411.0,22039.0,1.0,0.0,1,0,0,1,0,0
3,1614.0,53.80,530.2000,6.85,1.25,3.3447,69.0,6822.0,6274.0,1.0,0.0,1,0,0,1,0,0
4,2175.0,72.50,554.1300,6.99,153.75,673204.0342,33.0,3387.0,7241.0,1.0,0.0,1,0,0,0,1,0

In [32]:
train_data.dropna(inplace = True)

In [33]:
train_data.isnull().any()

network_age                                   False
Customer tenure in month                      False
Total Spend in Months 1 and 2 of 2017         False
Total SMS Spend                               False
Total Data Spend                              False
Total Data Consumption                        False
Total Unique Calls                            False
Total Onnet spend                             False
Total Offnet spend                            False
Total Call centre complaint calls             False
Churn Status                                  False
Network type subscription in Month 1_2G       False
Network type subscription in Month 1_3G       False
Network type subscription in Month 1_Other    False
Network type subscription in Month 2_2G       False
Network type subscription in Month 2_3G       False
Network type subscription in Month 2_Other    False
dtype: bool

In [35]:
#from sklearn.preprocessing import Imputer
#imputer = Imputer()
#train_data = imputer.fit_transform(train_data)